* {

    padding: 0;
    margin: 0;

}

body {
    font-family: "Lexend", sans-serif;
    text-align: center;
    background-color: antiquewhite;
}


.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lexend";
    font-size: 40px;
    margin-top: 60px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    color: bla;
    border: 1px solid white;

}
.game{
     display: flex;
    align-items: center;
    justify-content: center;

}

.gameboard {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    gap: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 8px;
    border: 4px solid black;
}

button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: "Lexend", sans-serif;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px;
    border-color: none;
    border-radius: 12px;

}